
<div class="p-2 bg-light pinkColorText">
  {{!-- <div id="alertSuccess" class="alert alert-success text-center" style="display: none" role="alert"></div>
  <div id="alertError" class="alert alert-danger text-center" style="display: none" role="alert"></div> --}}
  
  <h1 class="text-center d-flex " style="font-family: cursive;">
    <div class="d-flex">
      <a href="/dashboardUser" class="btn btn-outline-dark"><i class="fa-solid fa-arrow-left"></i> Quay về</a>
    </div>
    <small class="w-100 text-center"> MOMO DASHBOARD</small>
  </h1>
</div>
<!-- Main sidebar -->
<div class="row">
  <div id="sidebar-main" class="col-sm-3 sidebar-dashboard sidebar-default sidebar-separate sidebar-fixed">
    <div class="sidebar-content">
      <!-- /Sidebar Category -->
      <div class="sidebar-category sidebar-default">
        <div class="category-title">
          <span>Tài khoản</span>
        </div>
        <div class="category-content">
          <ul id="fruits-nav" class="nav flex-column">
            <li class="nav-item">
              <a href="/dashboardUser" class="nav-link">
                <i class="fa-solid fa-users mr-3"></i>
                Tất cả
              </a>
            </li>
          </ul>
          <!-- /Nav -->
        </div>
        <div class="category-title">
          <span>Giao dịch</span>
        </div>
        <div class="category-content">
          <ul id="fruits-nav" class="nav flex-column">
            <li class="nav-item">
              <a href="/dashboardUser/giaoDich" class="nav-link">
                <i class="fa-solid fa-circle-dollar-to-slot mr-3"></i>
                Rút tiền và chuyển tiền
              </a>
            </li>
          </ul>
          <!-- /Nav -->
        </div>
        <!-- /Category Content -->
      </div>
    </div>
  </div>
  <div class=" mt-4 rounded col-sm-9 ">
    <div class=" m-2 border">
      <h3 class="text-center p-3 bg-dark text-white">THÔNG TIN NGƯỜI DÙNG</h3>
      <div class="row">
        <div class="col-lg-4 p-5">
          <img class="rounded mb-2" src="https://photo-cms-sggp.zadn.vn/w580/Uploaded/2022/dqmbbcvo/2022_06_04/lionelmessi_qnxe.jpg" alt="" width="200" height="200">
          <div><b>Họ và tên:</b> {{dataUser.HoVaTen}}</div>
          <div><b>Email:</b>{{dataUser.Email}}</div>
          <div><b>Số điện thoại:</b> {{dataUser.SoDienThoai}}</div>
          <div><b>Sinh nhật:</b> {{dataUser.NgayThangNamSinh}}</div>
          <div><b>Địa chỉ:</b> {{dataUser.DiaChi}}</div>
          {{#if (soSanh dataUser.trangthai 0)}} 
            <div><b>Trạng thái tài khoản:</b> <span class="badge badge-pill badge-warning">Chờ xác minh</span></div>
          {{else if (soSanh dataUser.trangthai 1)}}
            <div><b>Trạng thái tài khoản:</b> <span class="badge badge-pill badge-info">Đẫ xác minh</span></div>
          {{else if (soSanh dataUser.trangthai 2)}}
            <div><b>Trạng thái tài khoản:</b> <span class="badge badge-pill badge-danger">Đã vô hiệu hóa</span></div>
          {{else if (soSanh dataUser.trangthai 3)}}
            <div><b>Trạng thái tài khoản:</b> <span class="badge badge-pill badge-primary">Chờ cập nhật</span></div>
          {{/if}}
        </div>
        <div class="col-lg-8 p-5 d-flex">
          {{#if status}}
            <div class="m-2 ">
              <p>Mặt trước</p>
              <img class="rounded" src={{images.matTruoc}} alt="error load" width="300" height="300">
            </div>
            <div class="m-2 ">
              <p>Mặt sau</p>
              <img class="rounded" src={{images.matSau}} alt="error load" width="300" height="300">
            </div>
          {{else}}
            <div class="m-2">
              <h5>Chưa cập nhật hình căn cước công dân!!!!</h5>
            </div>
          {{/if}}

        </div>
      </div>
    </div>
  </div> <!-- end content-wrapper -->
</div>
<!-- Button trigger modal -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  let tbody = document.getElementById('tbody-user')

// tải danh sach user
  fetch('/apiUser/getUser',{
    method: 'GET',
    headers: {'Content-Type': 'application/json'},
  }).then((res) => res.json())
    .then(data => {
      let users = data.user
      users.forEach(user => {
        if (user.LoaiTaiKhoan == 0){
          let row = document.createElement('tr');
          let userId = document.createElement('td');
          let name = document.createElement('td');
          let trangThai = document.createElement('td');
          let chucNang = document.createElement('td');

          userId.innerHTML = user.username

          if (!user.HoVaTen){
            name.innerHTML='<span class="badge badge-pill badge-secondary">Chưa cập nhật</span>'
          }else{
            name.innerHTML = user.HoVaTen `<a href=''></a>`
          }

          if(user.trangthai == 0){
            trangThai.innerHTML = `<span class="badge badge-pill badge-warning">Chờ xác minh</span>`
            chucNang.innerHTML = `<button onclick='completeUser(${user.username})' class="btn btn-completeUser btn-success">Xác nhận</button>
                                  <button onclick='updateUser(${user.username})' class="btn btn-updateUser btn-warning">Cập nhật thông tin</button>
                                  <button onclick='deleteUser(${user.username})' class="btn btn-deleteUser btn-danger">Hủy</button>`
          }else if(user.trangthai == 1){
            trangThai.innerHTML = `<span class="badge badge-pill badge-info">Đẫ xác minh</span>`
            chucNang.innerHTML = `<button onclick='updateUser(${user.username})' class="btn btn-updateUser btn-warning">Cập nhật thông tin</button>
                                  <button onclick='deleteUser(${user.username})' class="btn btn-deleteUser btn-danger">Hủy</button>`
          }else if(user.trangthai == 2){
            trangThai.innerHTML = `<span class="badge badge-pill badge-danger">Đã vô hiệu hóa</span>`
            chucNang.innerHTML = `<button onclick='restoreUser(${user.username})' class="btn btn-updateUser btn-info">Khôi phục</button>`
          }else if(user.trangthai == 3){
            trangThai.innerHTML = `<span class="badge badge-pill badge-primary">Chờ cập nhật</span>`
            chucNang.innerHTML = `<button onclick='completeUser(${user.username})' class="btn btn-completeUser btn-success">Xác nhận</button>
                                  <button onclick='updateUser(${user.username})' class="btn btn-updateUser btn-warning">Cập nhật thông tin</button>
                                  <button onclick='deleteUser(${user.username})' class="btn btn-deleteUser btn-danger">Hủy</button>`
          }
          row.appendChild(userId)
          row.appendChild(name)
          row.appendChild(trangThai)
          row.appendChild(chucNang)

          tbody.appendChild(row)
        }
      })
    })
 
  // xử lý xác nhận tài khoản người dùng
  let alertSuccess = document.getElementById('alertSuccess')
  let alertError = document.getElementById('alertError')
  // gủi yêu cầu xác nhận tài khoản người dùng
  function completeUser(idUser){
    let url = `/apiUser/completeUser/${idUser}`
    fetch(url,{
      method: 'POST',
      body: JSON.stringify({id: idUser}),
      headers: {'Content-Type': 'application/json'}
    }).then((res) => res.json())
      .then(data => {
        //console.log(data)
        if(data.status == 'error'){
          alert( data.error);
        }else{
          Swal.fire({
            position: 'center',
            icon: 'success',
            title: data.success,
            showConfirmButton: false,
            timer: 1500
          }).then(()=>{
            location.reload()
          })
        }
      })
  }
  // gửi yêu cầu vô hiệu hóa tài khoản
  function deleteUser(idUser){
    let url = `/apiUser/deleteUser/${idUser}`
    fetch(url,{
      method: 'POST',
      body: JSON.stringify({id: idUser}),
      headers: {'Content-Type': 'application/json'}
    }).then((res) => res.json())
      .then(data => {
        console.log(data)
        if(data.status == 'error'){
          alert( data.error);
        }else{
          Swal.fire({
            position: 'center',
            icon: 'success',
            title: data.success,
            showConfirmButton: false,
            timer: 1500
          }).then(()=>{
            location.reload()
          })
        }
      }) 
  }

  // gửi yêu cầu cập nhật thông tin tài khoản
  function updateUser(idUser){
    let url = `/apiUser/upDateInfoUser/${idUser}`
    fetch(url,{
      method: 'POST',
      body: JSON.stringify({id: idUser}),
      headers: {'Content-Type': 'application/json'}
    }).then((res) => res.json())
      .then(data => {
        console.log(data)
        if(data.status == 'error'){
          alert( data.error);
        }else{
          Swal.fire({
            position: 'center',
            icon: 'success',
            title: data.success,
            showConfirmButton: false,
            timer: 1500
          }).then(()=>{
            location.reload()
          })
        }
      }) 
  }
  // gửi yêu khôi phục tài khoản
  function restoreUser(idUser){
    let url = `/apiUser/restoreUser/${idUser}`
    fetch(url,{
      method: 'POST',
      body: JSON.stringify({id: idUser}),
      headers: {'Content-Type': 'application/json'}
    }).then((res) => res.json())
      .then(data => {
        console.log(data)
        if(data.status == 'error'){
          alert( data.error);
        }else{
          Swal.fire({
            position: 'center',
            icon: 'success',
            title: data.success,
            showConfirmButton: false,
            timer: 1500
          }).then(()=>{
            location.reload()
          })
        }
      }) 
  }

</script>
<!-- /main sidebar -->