<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      background-color: #e2fbf5;
    }
    #container {
      width: 80%;
      height: max-content;
      
      margin: 20px auto;
      box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      overflow: hidden;
      background: #ffffff;

    }

    #info {
      width: 50%;
      height: 100%;
      float: left;
    
    }
    #info #product {
      width: 100%;
      height: 100%;
      margin:10px 0;
    }
    
    #payment {
      width: 50%;
      float: right;
      padding: 20px 30px;
    }

    #checkout {
      width: 100%;
    }
    #checkout input {
      margin-bottom: 15px;
    }
    #checkout label {
      float: left;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 0.6em;
      padding: 0 0 5px 10px;
    }
    #checkout #cvc-label {
      margin-left: 25px;
    }
    #checkout .card-icon {
      width: 29%;
      margin: 0 10% 25px 10%;
      border: none;
      background: none;
      height: 50px;
      cursor: pointer;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    #checkout .card-icon:focus {
      -webkit-filter: none;
      filter: none;
    }
    #checkout #visa {
      background-image: url("http://enwaara.se/codepen/visa.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    #checkout #mastercard {
      background-image: url("http://enwaara.se/codepen/mastercard.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 118%;
    }
    #checkout #cardnumber,
    #checkout #cardholder,
    #checkout #cvc, #checkout #date, #checkout #moneyNeed{
      width: 100%;
      background: none;
      border: 1px solid #6c7a89;
      padding: 8px 19px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      border-radius: 50px;
      letter-spacing: 1px;
    }
    #checkout #cardnumber:focus,
    #checkout #cardholder:focus,
    #checkout #moneyNeed:focus,
    #checkout #cvc:focus, #checkout #date:focus {
      border: 1px solid #00b894;
    }
    #checkout ::-webkit-input-placeholder {
      letter-spacing: 3px;
      text-transform: uppercase;
      font-size: 0.9em;
      color: #bdc3c7;
    }
    #checkout #cardnumber {
      letter-spacing: 3px;
    }
    #checkout #cardnumber::-webkit-input-placeholder {
      font-size: 1em;
    }
 
    #checkout #cvc {
      width: 48%;
      float: left;
      margin-left: 11%;
    }
    #checkout #moneyNeed {
      width: 48%;
      float: left;
      margin-left: 11%;
    }
     #checkout #date {
      width: 48%;
      float: left;
      margin-left: 11%;
    }
    #checkout .btn {
      background: #00b894;
      border: none;
      width: 100%;
      padding: 12px 10px 10px 10px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      border-radius: 50px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      color: #ececec;
      cursor: pointer;
    }
    #checkout .btn:hover {
      background: #16a085;
    }
    .main-container {
  padding: 30px;
}


/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}

  </style>
  <title>Document</title>
</head>
<body>
  <div class="container">
      <div id="container">
        <div id="info">
          <img id="product" src="https://vcdn1-kinhdoanh.vnecdn.net/2021/06/17/MoMo-3-copy-7689-1623928911.png?w=0&h=0&q=100&dpr=2&fit=crop&s=RMMSg-2t_jfhhkE-qwZfuA" />
        </div>

        <div id="payment">

          <form id="checkout" onsubmit="return false" class="form-payment-card was-validated">
            <h3 class="text-center m-3">Thông tin chuyên tiền</h3>

            <div class="form-group">
              <label for="soTaiKhoanGoc" class="w-100">Tài khoản gốc</label>
              <p class="text-dark text-center">{{HoVaTen}}</p>
              <p class="text-dark text-right">Số dư: {{soDu}}đ</p>
            </div>

            <div class="form-group">
              <label for="soTaiKhoanNhan">Tài khoản người nhận</label>
              <input type="text" class="form-control" id="soTaiKhoanNhan" value={{thongTinTaiKhoan.STK}}  disabled>
            </div>

            <div  class="d-flex flex-column">
              <label >Tên người nhận</label>
              <p class="text-dark text-center">{{thongTinTaiKhoan.TenNguoiDung}}</p>
            </div>

            <div class="form-group d-flex">
                <img src={{thongTinNganHang.icon}} alt="" width="30" height="30"/>
                <p class="ml-3">{{thongTinNganHang.tenNganHang}}</p>
            </div>

            <div class="form-group">
              <label for="soTienChuyen">Số tiền chuyển</label>
              <input type="text" class="form-control" id="soTienChuyen"  placeholder="1000000 đ">
            </div>

            <button class="btn btn-payment">Xác nhận</button>
          </form>
        </div>
      </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    let formPaymentCard = document.getElementById('checkout')
    let TKGoc = document.getElementById('soTaiKhoanGoc')
    let TkNhan = document.getElementById('soTaiKhoanNhan')
    let soTienChuyen = document.getElementById('soTienChuyen')
   
    let btnPaymentCard = document.getElementsByClassName('btn-payment')


  formPaymentCard.addEventListener('submit', () => {

    const dataChuyenTien = {
      TKGoc: TKGoc.value,
      TkNhan: TkNhan.value,
      soTienChuyen: soTienChuyen.value
    }
    fetch('/apiUser/chuyenTien/denTaiKhoan',{
        method: 'POST',
        body: JSON.stringify(dataChuyenTien),
        headers: {'Content-Type': 'application/json'},
    }).then((res) => res.json())
        .then(data => {
            console.log(data)
            if(data.status == 'error') {
                Swal.fire({
                  position: 'center',
                  icon: 'error',
                  title: data.error,
                  showConfirmButton: false,
                  timer: 1500
                }).then(()=>{
                    //location.reload()
                })
            }else{

              Swal.fire({
                  position: 'center',
                  icon: 'success',
                  title: data.success,
                  showConfirmButton: false,
                  timer: 1500
                }).then(()=>{
                  window.location.replace('/')
                })
            }
        })
  })
  </script>
</body>
</html>